*{
    margin: 0;
    padding: 0;
}
.centerNav{
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.centerNav li{
    text-align: center;
    padding: 15px;
    font-size: 17px;
    transition: 1s;
}
#logo{
    height: 20vh;
}
.btncs{
    background-color: #002D5B;
    padding: 5px 10px;
    transition: 1s;
}

.btncs:hover{
    background-color: #EC5B53;
}
.cs-li a{
    font-family: inherit;
}
.icons{
    display: flex;
    flex-direction: column;
    margin-top: 50%;
    
}
.icons a{
    margin-top: 20%;


}
a i{
    color: #002D5B;
    padding-top: 70%;
    font-size: larger;
    transition: 1s;
}
a i:hover{
    color: #EC5B53;
}

@media (max-width:886px) {
    .social-media{
        display: none;
    }
}
.role-title{
    margin-top: vh;
}
.role-title h1{
    color: #002D5B;
    font-size: 5vw;
    font-weight:500;
}
.role-title p{
    color: #020101;
    padding-top: 10vh;
    padding-bottom: 5vh;
}
